<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1011840353117-d4esqe9f2t1qgcn88uaeb2q14mr4trb9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1011840353117-d4esqe9f2t1qgcn88uaeb2q14mr4trb9</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>1011840353117-5ln3qt58k4fdtv3jl57puu6fpnu3upmo.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAbgtg2DR9NeNedKRH8YzWiBM9x8a1eU9k</string>
	<key>GCM_SENDER_ID</key>
	<string>1011840353117</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.rnauthbtc.jp.app</string>
	<key>PROJECT_ID</key>
	<string>rn--auth-c0b58</string>
	<key>STORAGE_BUCKET</key>
	<string>rn--auth-c0b58.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1011840353117:ios:453c2f42f9bdbbbc24deb4</string>
</dict>
</plist>